#div_form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    width: 700px;
    height: 300px;
    text-align: center;
}

.text {
    padding: 10px 15px 10px 10px;
    font-style: oblique;
    color: #DB7093;
    text-align: left;
}

.header {
    color: #DB7093;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border-style: double;
    border-color: #DB7093;
    color: #DB7093;
    width: 700px;
    height: 100px;
}

.btn__item {
    display: inline-block;
    padding: 10px 10px 30px 10px;
    margin: 10px;
    width: auto;
    height: 30px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #DB7093;
    border-radius: 10rem;
    z-index: -2;
}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FFC0CB;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
&:hover {
    color: #fff;
    &:before {
    width: 100%;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-true {
    background-color: #FFC0CB;
}

.btn-false {
    background-color: #DB7093;
}